# -----------------------------------------------------------------------------
# Folders:
#

.settings/
bin/
log/
logs/
target/

# -----------------------------------------------------------------------------
# Files:
#

*.jar
*.war
*~
.DS_Store
.classpath
.factorypath
.project

# -----------------------------------------------------------------------------
# Project Specific:
#

res/data/*
vortex.json
